.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content:center; */
  
  /* align-items: center; */
  width: 75%;
  max-width: 60%;
  margin: auto;
 /* padding: 10px; */
  background-color: #1f1f1f;
  color: #fff;
  height: 75%;
}




.App-link {
  color: #61dafb;
}

